body{
	margin: 0;
}
#top{
background-color: #34495e;
height: 26px;
width: 100%;
}
.left{
	position: relative;
	top: -15px;
left: 390px;
}
.left img{
display:inline-block;
 }
 .left p{
 	display: inline-block;
color: white;
 }
 .right{
 	float:right;
 	position: absolute;
 	top: 2px;
 	right: 400px;
 }
 .right a{
 	color: white;
 padding-left:20px; 
 text-decoration:none;
 }
 .one{
 	padding-right: 22px;
 	border-right: 1px solid;
 }
 #school-talk{
 	width: 100%;
 	height: 72px;
 	background-color: white;
 	margin: 0 auto;
 }
#school-talk .left .one{
	font-size: 30px;
	color: #87e6d7;

	position: relative;
	top: -92px;
	left: 40px;
}
#school-talk .left .two{
font-size: 20px;
color:  #87e6d7;
position: relative;
top: -72px;
left: -80px;
}
#school p{
	color: black;
	position: relative;
	top: -176px;
	left: 166px;
}
#school a{
	height: 22px;
	width: 62px;
	border: 1px solid;
	border-color: black;
    text-decoration:none;
    position: relative;
    top: -150px;
    left: 66px;
}
#school a:link {color: grey}
#choose{
	float: right;
}
#s{
	color: #87e6d7;
}
#choose a{
	margin-left: 20px;
	text-decoration:none;
	position: relative;
	top: -230px;
	right: 300px;
	color: black;
}
#big-picture{
	background-color:  #87e6d7;
	width: 100%;
	height: 340px;
}
#picture{
	height: 340px;
  padding-left: 300px;
}
ul{
	list-style: none;
	float: right;
}
li{
	float: left;
	padding-left: 20px;
	height: 211px;
	width: 216px;
}
#first{
	padding-top: 452px;
}
#chuang{
	border-left: 4px solid;
	padding-left: 20px;
	border-color: #87e6d7;
    margin-left: 298px;
}
#f p{
	color: white;
}
#f span{
	font-size: 30px;
}
#f{
	height: 211px;
	background: url(../images/green.png);
	text-decoration:none;
}
#more{
	position: relative;
	top: -40px;
	left: 20px;
	color: white;
}
#row1{
position: relative;
right: 50px;
}
#second{
	padding-top: 252px;
}
#s{
	background: url(../images/yellow.png);
height: 211px;
}
#s p{
	color: white;
}
#s span{
	font-size: 30px;
}
#more2{
	position: relative;
	left: 40px;
	top: -40px;
    color: white;
    text-decoration:none;
}
#third{
	padding-top: 252px;
}
#t{
	background: url(../images/bule.png);
height: 211px;
}
#t p{
	color: white;
}
#t span{
	font-size: 30px;
}
#more3{
	position: relative;
	top: -40px;
	left: 40px;
	color: white;
	text-decoration:none;
}
#four{
	padding-top: 252px;
}
#fo{
	background: url(../images/red.png);
height: 211px;
}
#fo p{
	color: white;
}
#fo span{
	font-size: 30px;
}
#more3{
	position: relative;
	top: -40px;
	left: 40px;
	color: white;
	text-decoration:none;
}
#five{
	padding-top: 252px;
}
#fi{
	background: url(../images/zi.png);
height: 211px;
}
#fi p{
	color: white;
}
#fi span{
	font-size: 30px;
}
#more3{
	position: relative;
	top: -40px;
	left: 40px;
	color: white;
	text-decoration:none;
}
#bottom{
	width: 100%;
	height:140px;
	background-color: #34495e;
	position: relative;
	top: 284px;
}
#bottom img{
	display: inline-block;

}
#bottom a{

	color: white;
	margin-left: 20px;
	position: relative;
	left: 1200px;
}
#bottom p{
	color
	display: inline-block;
	position: relative;
	left: 1000px;
}
#l{
margin-right: 1000px;
}