html,body {padding: 0;margin: 0;}
body {
	width: 750px;
	margin:  0 0 auto;
}
header {width: 750px;
	height: 84px;
	background: #243343;
	display: flex;}
	.header-left {
		width: 428px;
		height: 46px;
		display: flex;
		align-items: center;
		margin-top: 20px;
	}
	.header-left p {
		color: #ffffff;}
	.header-right {
		width: 136px;
		height: 28px;
		display: flex;
		align-items: center;
		margin-top: 20px;
		position: absolute;left:592px;
	}
	.header-right span {
		color: #ffffff;

	}
	.header-left img {width: 130px;
		height: 50px;
		margin-left: 26px;
		margin-right: 30px;}
	.header-right img {
		margin-left: 32px;

	}
	.banner {
		width: 692px;
		height: 262px;
		display: flex;
		padding-top: 80px;
		padding-left: 58px;
		flex-direction:column;
		background: url(./images/banner-bg.png);
		background-size: 100%;
	}
	.b-t-1 {
      width: 364px;
      height:20px;
      font-family: 宋体;
      font-size:20px;
      line-height: 20px;
	}
	.banner-text {
		width: 364px;
		height: 174px;
		padding-left: 56px;
		padding-top: 22px;

	}
	.banner p:nth-of-type(1),.banner p:nth-of-type(2) {
		color: #ffffff;
	}
	.banner p:nth-of-type(2) {
		font-family: 宋体;
		font-size: 38px;
		line-height: 42px;
		font-weight: bold;
	}
	.banner p:nth-of-type(3) {
		color: #0bc6a8;
		font-family: 宋体;
		font-size: 14px;
		line-height: 50px;
	}
	.banner span {
		width: 16px;
		height: 54px;
		color: #e2d7d0;
	}

	.code {
		width: 58px;
		height: 58px;
		padding: 4px;
	    margin-top:-60px;
		background: url(./images/code-border.png)
		no-repeat center;
	}
	.code img{
		display: block;
		width: 58px;
		height: 58px;
	}
	.code span {
		color: #72736d;
		font-family: 宋体;
		font-size: 6px;
	}
	.middle {
		padding-top: 100px;
		width: 750px;
		height: 610px;
		text-align:center;
		display:flex;
		flex-direction:column;
	}
	
	.middle-top {
		width: 540px;
		height: 50px;
		margin:0 auto;
		background:url(./images/title-line-left.png)no-repeat left center;
	    background-size:150px 10px;
	}
	.middle-top h1{
		text-align: center;
		width: 540px;
		height: 50px;
		background: url(./images/title-line-right.png)no-repeat right center;
	    background-size:150px 10px;
	    font-family: 宋体;
	    font-size:36px;
	    line-height:50px;
	    font-weight: bold;
	    color:#00caab;
	}
	.p-1 {
		color: #999999;
		font-family:宋体;
		font-size: 18px;
		line-height: 35px;
	}
	.middle-content {
		position:relative;
		text-align:center;
		width: 750px;
		height: 460px;
	}
	.middle-content li {
		display: inline-block;
		width: 276px;
		height: 160px;
		padding-top:240px;
	}
	.middle-content li:nth-of-type(1) {
		background:url(./images/photo1.png) no-repeat top center;
		background-size:270px 310px;
	}
	.middle-content li:nth-of-type(2) {
		background:url(./images/photo2.png) no-repeat top center;
		background-size:270px 310x;
	}
	.m-c-1 {
		width: 250px;
		height: 160px;
		margin: 0 auto;
		background: #f9f9f9;
		border-radius: 8px;
		box-shadow: 1px;
	}
	.m-c-1 div{
		float: left;
		width: 80px;
		height: 26px;
		margin-left: 32px;
		margin-top: -10px;
		color: #ffffff;
		font-family: 宋体;
		line-height: 26px;
		font-weight: bold;
		background: url(./images/campus-tutor.png) no-repeat left top;

	}
	.clear{
	    content:"";
	    display:block;
	    clear:both;
    }
    .m-c-1 p {
    	margin-left: 16px;
	    margin-right: 26px;
	    padding-top: 40px;
	    margin-bottom: 20px;
	    color:#635e5e;
	    font-family:宋体;
	    font-size: 14px;
	    line-height: 24px;
    }
	.m-c-1 p span {
		font-size: 24px;
		line-height: 24px;
		font-weight: bold;
		color: #999999;
	}
	.m-c-1 p strong {
		color: #000;
		font-family: 宋体;
		font-size: 14px;
		line-height: 20px;
		margin-left: 90px;
		margin-right: 10px;
	}
	.m-c-1 span {
		font-family: 宋体;
		font-size: 12px;
		color: #f98b25;
	}
	.middle-btn {
		margin:0 auto;
		width: 100px;
		height: 22px;
	}
	.middle-btn label:nth-of-type(1),.middle-btn label:nth-of-type(3){
    	display: inline-block;
    	width: 16px;
    	height: 16px;
    	margin-right: 10px;
    	background: url(./images/btn-2.png) no-repeat left center;
    	background-size: 16px 16px;
	}
	.middle-btn label:nth-of-type(2){
    	display: inline-block;
    	width: 16px;
    	height: 16px;
    	margin-right: 10px;
    	background: url(./images/btn.png) no-repeat left center;
    	background-size: 16px 16px;
	}
	.student-change{
		width:750px;
		height:710px;
		background:url(./images/student-bg.png) no-repeat top center;
		display:flex;
		flex-direction:column;
		text-align: center;
		background-size: 750px 674px;
		text-align: center;
	}
	.student-top {
		width: 540px;
		height: 90px;
		margin: 0 auto;
		background: url(./images/title-line-left.png)no-repeat left center;
		background-size: 150px 10px;
	}
	.student-top h1 {
		background: url(./images/title-line-right.png)no-repeat right center;
		background-size: 150px 10px;
		color: #ffffff;
		font-size: 36px;
		line-height: 78px;
	}
	.student-change p {
		font-family:宋体;
		color: #ffffff;
		font-size:18px;
		line-height: 50px;
	}
	.student-middle {
		margin: 0 auto;
		width: 750px;
		height: 380px;
	}
	.s-m-l,.s-m-2{
		margin-top: 16px;
		width: 750px;
		display: flex;
		justify-content: center;
	}
	.s-m-l li,.s-m-2 li{
		position: relative;
		display: flex;
		margin-right: 20px;
		width: 340px;
		height: 174px;
		background: #ffffff;
		align-items: center;
		font-family: 宋体;
		border-radius: 10px;
	}
	.s-m-l li div,.s-m-2 li div {
		display: flex;
		flex-direction: column;
		text-align: left;
		font-family: 宋体;
	}
	.s-m-l li img,.s-m-2 li img {
		width: 75px
		height:75px;
		margin-left: 30px;
		margin-right: 20px;
	}
	.s-m-l li div h1,.s-m-2 li div h1{
		color: #5c5c5c;
		font-size: 18px;
		font-weight: bold;
	}
	.s-m-l li div h2,.s-m-2 li div h2{
		color: #5d5d5d;
		font-family: 宋体;
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
	}
	.s-m-l li div span ,.s-m-2 li div span {
        color: #5c5c5c;
        font-size: 14px;
        line-height: 20px;
	}
	
	.s-m-l li div p,.s-m-2 li div p{
		color: #00caab;
		font-family: 宋体;
		font-size: 14px;
		line-height: 20px;
		font-weight: bold;
	}
	.student-logo {
		width: 40px;
		height: 24px;
		background: url(./images/xueyuan.png) no-repeat left center;
		background-size: 38px 24px;
		text-align: center;
		position: absolute;
		top: 28px;
		left: 310px;
	}
	.s-m-l li .student-logo span ,.s-m-2 li .student-logo span {
        color: #f9f9f9;
        font-family: 宋体;
        font-size: 12px;
        line-height: 22px;
	}
	.dream{
		width:750px;
		height:1270px;
		display:flex;
		flex-direction:column;
		text-align:center;
		
	}
	.dream-top {
		margin: 0 auto;
		background: url(./images/title-line-left.png)no-repeat left center;
	    background-size:150px 10px;
	}
	.dream-top h1 {
		text-align: center;
		width: 540px;
		background: url(./images/title-line-right.png) no-repeat right center;
		background-size: 150px 10px;
		color: #00caab;
		font-family: 宋体;
		font-size: 36px;
		line-height: 50px;
		font-weight: bold;
	}
	.dream p {
		font-size: 18px;
		font-family: 宋体;
		line-height: 36px;
		font-weight: bold;
		color: #5d5d5d;
	}
	.dream ul {
		margin-top: 20px;
	}
	.dream ul li {
		width: 230px;
		height: 140px;
		margin: 0 auto;
		margin-bottom: 60px;
		padding-top: 180px;
	}
	.dream ul li:nth-of-type(1) {
        background: url(./images/mid-1.png) no-repeat top center;
        background-size: 136px 154px;
	}
	.dream ul li:nth-of-type(2) {
        background: url(./images/mid-2.png) no-repeat top center;
        background-size: 136px 154px;
	}
	.dream ul li:nth-of-type(3) {
        background: url(./images/mid-3.png) no-repeat top center;
        background-size: 136px 154px;
	}
	.dream ul li h2 {
		display: flex;
		justify-content: center;
		font-family: 宋体;
		font-size: 32px;
		font-weight: bold;
		color:#5c5c5c;
	}
	.dream ul li div h2 span {
		color: #00caab;
	}
	.dream ul li p{
	line-height: 31px;
	font-size: 18px;
	font-family: 宋体;
	color:#5c5c5c;
    }
    .quote {
    	display:inline-block;
    	margin-top: 18px;
    }
    .employer{
		background:url(./images/emploer-bg.png) no-repeat top center;
		background-size:750px 430px;
		width:750px;
		height:430px;
		display:flex;
		flex-direction:column;
		text-align:center;
	}
	.employer ul{
	height:100px;
	display:flex;
	justify-content:center;
    }
	.employer-top {
		margin: 0 auto;
		background: url(./images/title-line-left.png)no-repeat left center;
	    background-size:150px 10px;
	}
	.employer-top h1 {
		text-align: center;
		width: 540px;
		background: url(./images/title-line-right.png) no-repeat right center;
		background-size: 150px 10px;
		color: #ffffff;
		font-family: 宋体;
		font-size: 36px;
		line-height: 50px;
		font-weight: bold;
	}
	.employer ul li{
	   width:190px;
	   height:100px;
	   margin-right:2px;
    }
	.employer p {
		font-size:18px;
	    color:#ffffff;
	    font-family:宋体;
	}
    .employer-1 {
    	margin-top: 30px;
	    margin-bottom: 2px;
    }
    .employer-1 li:nth-of-type(1) {
    	background: url(./images/baidu-logo.png) no-repeat top center;
    	background-size: 190px 100px;
    }
    .employer-1 li:nth-of-type(2) {
    	background: url(./images/jingdong-logo.png) no-repeat top center;
    	background-size: 190px 100px;
    }
    .employer-1 li:nth-of-type(3) {
    	background: url(./images/huawei-logo.png) no-repeat top center;
    	background-size: 190px 100px;
    	margin-right: 0;
    }
    .employer-2 li:nth-of-type(1) {
    	background: url(./images/mobile-logo.png) no-repeat top center;
    	background-size: 190px 100px;
    }
    .employer-2 li:nth-of-type(2) {
    	background: url(./images/souhu-logo.png) no-repeat top center;
    	background-size: 190px 100px;
    }
    .employer-2 li:nth-of-type(3) {
    	background: url(./images/xiecheng-logo.png) no-repeat top center;
    	background-size: 190px 100px;
    	margin-right: 0;
    }
	.bottom{
		background:#34495e;
		width:750px;
		height:280px;
		margin-top:50px;
		display:flex;
		flex-direction:column;
		text-align:center;
	}
	.bottom img{
		margin:16px auto;
		width:138px;
		height:48px;
	}
	.bottom-top {
		margin-top: 16px;
		margin-bottom: 45px;
		font-family: 宋体;
		font-size: 18px;
		color: #bcbcbc;
	}
	.bottom-content p span{
		display: inline-block;
		height: 20px;
	}
	.bottom-content p {
		font-size: 14px;
		font-family: 宋体;
		color: #bcbcbc;
		
	}