input{ width: 100px; height: 20px;  border: 1px solid ; }
input:focus { width: 200px; height: 20px;  outline: none; border: 2px solid #7aaff1; box-shadow: rgba(0,0,0,0.1)0px 0px 8px;
              -moz-box-shadow:rgba(0,0,0,0.1)0px 0px 8px ; -webkit-box-shadow: rgba(0,0,0,0.1)0px 0px 8px;  }