body{ width: 100%; height: 2012px; padding: 0; margin: 0;  }
li{ list-style: none; }
a{ text-decoration: none; }
.top{ width:100%; height: 36px; background: #34495e;  }
.top img{ position: relative; left: -4%;  }
.top a { font-size: 14px; font-style: 微软雅黑; color: #ffffff;}
.first{ float: left; padding-left: 20%; padding-top: 6px; }
.what{ width: 114px; height: 19px;  position:relative; left: 69%; top: -34px; border-right: 2px solid #ffffff ;  }
.on{  position:relative; left: 79%; top: -52px;  }

.top_menu{ width: 100%; height: 72px; }
.top_menu img{ margin-left: 16%; }
.top_menu ul{ position: relative; top: -80px; left: 350px; }
.school{ font-size: 14px; color: #939393; }
.top_menu input{ font-size: 12px; color:#939393; border-color: #dddddd; background: #ffffff;  }
.menu li {  float: right;  position: relative; left: -220px; top: -120px; padding-left: 3%;}
.menu a{ font-size: 16px; color: #939393;  }
.menu a:hover{ color: #a3e6d8;}

.big_banner{ width: 100%; height: 338px; background: #a5e7f3; }


.middle{ width: 100%; height: 1090px;  }
.all{ padding-left: 16%;  }
.title1 { font-size: 20px; color: #6d6d6d; position: relative;top: -1086px; left: 230px; }
.title2 { font-size: 20px; color: #6d6d6d; position: relative;top: -1130px; left: 230px; }
.title3 { font-size: 20px; color: #6d6d6d; position: relative;top: -1176px; left: 230px; }
.title4 { font-size: 20px; color: #6d6d6d; position: relative;top: -1223px; left: 230px; }
.title5 { font-size: 20px; color: #6d6d6d; position: relative;top: -1270px; left: 230px; }
.middle a { font-size: 12px; color: #ffffff;  }
.more1{ position: relative; top: -1070px; left: 340px; }
.more2{ position: relative; top: -1118px; left: 340px; }
.more3{ position: relative; top: -1164px; left: 340px; }
.more4{ position: relative; top: -1212px; left: 340px; }
.more5{ position: relative; top: -1257px; left: 340px; }


.bottom{ width: 100%; height: 140px; background: #34495e; }
.bottom a{ font-size: 14px; font-style: 微软雅黑; color:#ffffff;  }
.logo1{ padding-left: 16%;  }
.logo2{ position: relative;left: 27%; top: -95px; }
.about{ position: relative;left: 68%; top:-145px; }
.help{ position: relative;left: 75%; top:-165px; }
.connect{ position: relative;left: 81%; top:-185px; }
.news{ font-size: 12px; color: #ffffff; position: relative; left: 58%; top: -180px; }


.b1 a{ background: url(1.jpg) no-repeat;width: 180px; height: 180px; display: inline-block;}
.b1 a:hover {  background: url(2.jpg) no-repeat;  }
.b1{ padding-left: ;  position: relative;left: 32%; top: -1118px; }

.b2 a{ background: url(1.jpg) no-repeat;width: 180px; height: 180px; display: inline-block;}
.b2 a:hover {  background: url(2.jpg) no-repeat;  }
.b2{ padding-left: ;  position: relative;left: 32%; top: -1163px; }

.b3 a{ background: url(1.jpg) no-repeat;width: 180px; height: 180px; display: inline-block;}
.b3 a:hover {  background: url(2.jpg) no-repeat;  }
.b3{ padding-left: ;  position: relative;left: 32%; top: -1210px; }

.b4 a{ background: url(1.jpg) no-repeat;width: 180px; height: 180px; display: inline-block;}
.b4 a:hover {  background: url(2.jpg) no-repeat;  }
.b4{ padding-left: ;  position: relative;left: 32%; top: -1256px; }

.b5 a{ background: url(1.jpg) no-repeat;width: 180px; height: 180px; display: inline-block;}
.b5 a:hover {  background: url(2.jpg) no-repeat;  }
.b5{ padding-left: ;  position: relative;left: 32%; top: -1303px; }


#banner {height: 340px;width: 100%;background: #a5e7f3;}
#banner img {float: left;}
.banner_img {width: 2364px;position: absolute;left: 0px;-webkit-animation: ma 10S ease-out infinite alternate; z-index: 100;}
@-webkit-keyframes ma {
	0%,50% {left: 0px;}
	50%,100% {left: -1182px;}
}
