* {
	margin: 0;
	padding: 0;
}
.header {
	height: 1.106667rem;
	width: 10.0rem;
	background: #243343;
}
.header h1 {
	display: inline-block;
	height: 1.106667rem;
	line-height: 1.106667rem;
	font-size: 0.24rem;
	color: #fff;
}
.header p:first-child {
	display: inline-block;
	height: 0.586667rem;
	width: 1.733333rem;
	background: url(../img/logo.png) no-repeat;
	background-size: 1.733333rem 0.586667rem;
	margin: 0.266667rem 0 0 0.36rem;
	vertical-align: top;
}
.header p:last-child {
	display: inline-block;
	height: 1.106667rem;
	line-height: 1.106667rem;
	font-size: 0.266667rem;
	color: #fff;
	vertical-align: top;
}